{% extends 'nav.html' %}

{% block tittle %}
Manajemen Mahasiswa
{% endblock %}

{% block content %}
<div class="page-heading">
    <h1>Edit Mahasiswa</h1>
</div>

<div class="card">
    <div class="card-header">
        <a href="/manajemen-matakuliah" class="btn btn-primary text-white">Kembali</a>
    </div>
    <div class="card-body">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-4">
                        <label for="edit-kdm">KDM</label>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group has-icon-left">
                            <div class="position-relative">
                                <input type="text" class="form-control" placeholder="KDM"
                                    id="edit-kdm" value="{{data.Kode_Matkul}}" disabled>
                                <div class="form-control-icon">
                                    <i class="fa-solid fa-book"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="edit-namamatkul">Nama</label>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group has-icon-left">
                            <div class="position-relative">
                                <input type="text" class="form-control" placeholder="Nama Mata Kuliah" name="edit-nama-matkul" id="edit-nama-matkul" value="{{data.Nama_Matkul}}" required>
                                <div class="form-control-icon">
                                    <i class="bi bi-person"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="jurusan">Jurusan</label>
                    </div>
                    <div class="col-8 mb-2">
                        <div class="form-group">
                            <select class="form-select" name="editpilihjurusan" id="editpilihjurusan" required>
                                <option selected>Pilih Jurusan</option>
                                <option value="Sistem Informasi">Sistem Informasi</option>
                                <option value="Teknik Komputer">Teknik Komputer</option>
                                <option value="Teknik Informatika">Teknik Informatika</option>
                              </select>
                        </div>
                    </div>  
                    <div class="col-12 d-flex justify-content-end">
                        <button id="editmatkul" class="btn btn-success me-1 mb-1">Submit</button>
                    </div>
                </div>
            </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        let pilihjurusan = $("#editpilihjurusan").val('{{selected_major}}');
        $("#editmatkul").click(function () {
            let namematkul = $("#edit-nama-matkul").val();
            let jurusan = $("#editpilihjurusan").val();
            if (namematkul == "" || jurusan == "") {
                swal.fire({
                    title: "Incomplete data",
                    text: "Please fill in the data correctly.",
                    icon: "warning",
                });
            } else {
                Swal.fire({
                    title: "Are you sure?",
                    text: "Your data will be updated!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, update it!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            type: "POST",
                            url: "/editmatkul/{{ data._id }}",
                            data: {
                                namematkul: namematkul,
                                jurusan: jurusan,
                            },
                            success: function (response) {
                                if (response.result == 'success') {
                                    Swal.fire("Update!", "Your file has been updated!", "success").then((result) => { window.location.replace("/manajemen-matakuliah"); });
                                }
                            },
                        });
                    }
                })
            }
        });
    });
</script>
{% endblock %}