{% extends 'nav.html' %}

{% block tittle %}
Manajemen Mahasiswa
{% endblock %}

{% block content %}
<div class="page-heading">
    <h1>Manajemen Mahasiswa</h1>
</div>
<section class="section">
    <div class="row" id="table-bordered">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#tambahmhs">
                        Tambah
                    </button>
                </div>

                <div class="card-content">
                    <div class="card-body">
                        <p class="card-text">Harap tambahkan informasi mengenai data <code>Mahasiswa</code> yang tersedia.
                        </p>
                    </div>
                    <div class="table-responsive mx-4 mb-4">
                        <table class="table table-bordered table-striped table-dark mb-0">
                            <thead>
                                <tr>
                                    <th>NIM</th>
                                    <th>Nama</th>
                                    <th>Jenis Kelamin</th>
                                    <th>Tanggal Lahir</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in dosen %}
                                <tr>
                                    <td>{{user['username']}}</td>
                                    <td>{{user['full_name']}}</td>
                                    <td>{{user['gender']}}</td>
                                    <td>{{user['tanggal_lahir']}}</td>
                                    <td>
                                        <a href="editdosen/{{ user._id }}" class="btn icon btn-info"><i class="fa-solid fa-pen-to-square text-white title="edit"></i></a>
                                        <a href="/deletedosen/{{user._id}}" class="btn icon btn-danger"><i class="fa-solid fa-trash" title="Hapus"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="tambahmhs" data-bs-backdrop="static" data-bs-keyboard="false"
tabindex="-1" aria-labelledby="tambahmsh" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="tambahmsh">Tambah Dosen</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="NIM">NIM</label>
                            <div class="d-flex">
                                <input type="text" id="input-nim" class="form-control w-75"
                                    name="input-nim" placeholder="NIM" readonly disabled>
                                <a id="generate-nim" class="btn icon btn-warning mx-2"><i
                                        class="fa-solid fa-rotate-right"
                                        title="Generate"></i></a>
                                <a id="check_nim" class="btn icon btn-info"><i
                                        class="fa-solid fa-magnifying-glass"
                                        title="check"></i></i></a>
                            </div>
                            <p id="help-nim-input" class="mt-2"></p>

                        </div>
                    </div>
                    <div class="col-12 mb-2">
                        <div class="form-group">
                            <label for="fnamemhs">Nama</label>
                            <input type="text" id="fnamemsh" class="form-control" name="fnamemhs"
                                placeholder="Nama Panjang" required>
                        </div>
                        <p id="help-fnamemhs-input" class="mt-2"></p>
                    </div>
                    <div class="col-12 mb-2">
                        <div class="form-group">
                            <label for="tlmhs">Tanggal Lahir</label>
                            <input type="date" id="tlmhs" name="tlmhs"
                                class="form-control mb-3 flatpickr-no-config"
                                placeholder="Select date.." required>
                        </div>
                        <p id="help-tlmhs-input" class="mt-2"></p>
                    </div>
                    <div class="col-12 mb-2">
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gendermhs"
                                    id="male" value="male" checked>
                                <label class="form-check-label" for="male">
                                    Laki-laki
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gendermhs"
                                    id="female" value="female">
                                <label class="form-check-label" for="female">
                                    Perempuan
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-end mt-4">
                        <button type="submit" class="btn btn-success me-1 mb-1"
                            id="savemhs">Submit</button>
                        <button type="button" class="btn btn-light-secondary me-1 mb-1"
                            data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    $(document).ready(function () {
        $('#input-nim').val('');
        $('#fnamemhs').val('');
        $('#tlmhs').val('');

        $('#generate-nim').click(function () {
            var currentYear = new Date().getFullYear();
            var lastTwoDigits = currentYear.toString().slice(-2);
            var sequenceNumber = "74";
            var randomNumbers = Math.floor(Math.random() * 9000) + 1000
            $('#input-nim').val(lastTwoDigits + sequenceNumber + randomNumbers);
        });
        $('#check_nim').click(function () {
            let nimMhs = $("#input-nim").val();
            if (nimMhs === "") {
                $("#help-nim-input")
                    .text("Enter in your nim")
                    .removeClass("text-success")
                    .addClass("text-danger");
                return;
            }
            $("#help-nim-input").text('');
            $("#help-nim-input").removeClass('text-danger');
            $.ajax({
                type: "POST",
                url: "/manajemen-mahasiswa/checknim",
                data: {
                    nim_give: nimMhs
                },
                success: function (response) {
                    console.log(response);
                    if (response["exists"]) {
                        $("#help-nim-input")
                            .text("This nim is already in use.")
                            .addClass("text-danger");
                    } else {
                        $("#help-nim-input")
                            .text("This nim is available!")
                            .removeClass("text-danger")
                            .addClass("text-success");
                    }
                }
            });
        });
        $('#savedosen').click(function () {
            let nip = $("#input-nip").val();
            let fname = $("#fname").val();
            let tl = $("#tl").val();
            let gender = $('input[name="gender"]:checked').val();

            if ($("#help-nip-input").hasClass("text-danger")) {
                alert("Please check your nip");
                return;
            } else if (!$("#help-nip-input").hasClass("text-success")) {
                alert("Please double check your nip");
                return;
            }

            if (fname === '') {
                $("#help-fname-input")
                    .text("Please enter your name")
                    .addClass("text-danger");
                return;
            }
            $("#help-fname-input").text('');
            $("#help-fname-input").removeClass('text-danger');
            if (tl === '') {
                $("#help-tl-input")
                    .text("Please enter your brithday")
                    .addClass("text-danger");
                return;
            }
            $("#help-tl-input").text('');
            $("#help-tl-input").removeClass('text-danger');

            $.ajax({
                type: "POST",
                url: "/manajemen-dosen/savedosen",
                data: {
                    nip: nip,
                    fname: fname,
                    tl: tl,
                    gender: gender,
                },
                success: function (response) {
                    alert("Nice!");
                    window.location.replace("/manajemen-dosen");
                }
            });
        });

    });
</script>

{% endblock %}