{% extends 'nav.html' %}

{% block tittle %}
Absensi Mahasiswa
{% endblock %}

{% block content %}
<div class="page-heading">
  <h1>Absensi Mahasiswa</h1>
</div>
<section class="section">
  <div class="row" id="table-bordered">
    <div class="col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-header">
            <a href="/mahasiswa-absensi-ortu" class="btn btn-secondary">Kembali</a>
          </div>
          <div class="card-body">
            <p class="card-text">
              Harap perhatikan dalam menginput data <code>absensi mahasiswa</code> yang tersedia.
            </p>
            <div class="table-responsive mx-4 mb-4">
              <table class="table table-bordered table-striped table-dark mb-0">
                <thead>
                  <tr>
                    <th>NPM</th>
                    <th>Nama</th>
                    {% for i in range(1, 15) %}
                      <th>M {{ i }}</th>
                    {% endfor %}
                    <th>UTS</th>
                    <th>UAS</th>
                  </tr>
                </thead>
                <tbody>
                  {% for user in kls_mhs %}
                  <tr>
                    <td>{{user['nim']}}</td>
                    <td>{{user['fullname']}}</td>
                    {% for pertemuan in range(1, 17) %}
                    <td>
                      <div class="d-flex justify-content-center">
                        <input class="form-check-input" type="checkbox" id="pertemuan{{pertemuan}}_{{user['nim']}}"
                          disabled {% if
                          user['pertemuan'][pertemuan-1]['status']=='Hadir' %} checked {% endif %}>
                      </div>
                    </td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function updateStatus(checkboxId, nim, pertemuan) {
    var checkboxElem = $("#"+checkboxId);
    var status = checkboxElem.is(':checked') ? 'Hadir' : 'Tidak Hadir';
    var idabsensi = "{{id}}";

    $.ajax({
      url: '/update_status',
      data: {
        'nim': nim,
        'pertemuan': pertemuan,
        'status': status,
        'idabsensi' : idabsensi,
      },
      type: 'POST',
      success: function (response) {
        Swal.fire("Update!", "Your file has been updated!", "success");
      },
      error: function (error) {
        console.log(error);
      }
    });
  }

</script>
{% endblock %}