{% extends 'nav.html' %}

{% block tittle %}
  Daftar Mata Kuliah
{% endblock %}

{% block content %}
  <div class="page-heading">
    <h1>Daftar Mata kuliah</h1>
  </div>
  <section class="section">
    <div class="row" id="table-bordered">
      <div class="col-12">
        <div class="card">

          <div class="card-content">
            <div class="card-body">
              <p class="card-text">
                Harap pilih informasi mengenai data <code>data matakuliah</code> yang tersedia.
              </p>
            </div>
            <div class="table-responsive mx-4 mb-4">
              <table class="table table-bordered table-striped table-dark mb-0">
                <thead>
                  <tr>
                    <th>KDM</th>
                    <th>Mata Kuliah</th>
                    <th>Waktu</th>
                    <th>Ruang</th>
                    <th>Nama Dosen</th>
                  </tr>
                </thead>
                <tbody>
                  {% for d in data %}
                  <tr>
                      <td>{{ d.kode_matkul[0] }}</td>
                      <td><a href="/view-kelas-mahasiswa-ortu/{{d._id}}">{{ d.nama_matkul[0] }}</a></td>
                      <td>{{ d.waktu[0] }}</td>
                      <td>{{ d.ruang[0] }}</td>
                      <td>{{ d.dosen[0] }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script></script>
{% endblock %}
