input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.box-icon {
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    border-radius: 10px; 
}

.box-icon.purple {
    background-color: #9694ff;
}

.box-icon.toska {
    background-color: #57caeb;
}

.box-icon.skyblue {
    background-color: #5ddab4;
}

.box-icon i {
    font-size: 24px;
    color: #ffff;
}

.dataTables_wrapper {
    background-color: #d9dff2;
    padding: 20px;
    color: #000;
    border-radius: 10px;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter {
    margin-bottom: 20px;
}

.dataTables_wrapper .dataTables_paginate {
    margin-top: 20px;
}
.dataTables_wrapper .dataTables_info {
    margin-top: 20px;
}

@media (max-width: 1280px) {
    #DataTables_Table_0_wrapper {
        width: fit-content;
    }
}