{% extends 'nav.html' %}

{% block tittle %}
  Absensi Mahasiswa
{% endblock %}

{% block content %}
  <div class="page-heading">
    <h1>Absensi Mahasiswa</h1>
  </div>
  <section class="section">
    <div class="row" id="table-bordered">
      <div class="col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-header">
              <a href="/manajemen-absensi" class="btn btn-secondary">Kembali</a>
            </div>
            <div class="card-body">
              <p class="card-text">
                Harap perhatikan informasi mengenai data <code>absensi mahasiswa</code> yang tersedia.
              </p>
              <div class="table-responsive mx-4 mb-4">
                <table class="table table-bordered table-striped table-dark mb-0">
                  <thead>
                    <tr>
                      <th>NPM</th>
                      <th>Nama</th>
                      {% for i in range(1, 15) %}
                        <th>Pertemuan ke {{ i }}</th>
                      {% endfor %}
                      <th>UTS</th>
                      <th>UAS</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for user in kls_mhs %}
                      <tr>
                        <td>{{ user['nim'] }}</td>
                        <td>{{ user['fullname'] }}</td>
                        {% for p in user['pertemuan'] %}
                          <td>
                            <input type="checkbox" id="pertemuan_{{ user['nim'] }}_{{ loop.index }}" name="pertemuan_{{ user['nim'] }}[]" value="{{ loop.index }}" {% if p %} checked {% endif %}>
                            <label for="pertemuan_{{ user['nim'] }}_{{ loop.index }}"> Pertemuan {{ loop.index }}</label>
                          </td>
                        {% endfor %}
                        <td><input type="checkbox" id="uts_{{ user['nim'] }}" name="uts_{{ user['nim'] }}" {% if user['uts'] %} checked {% endif %}></td>
                        <td><input type="checkbox" id="uas_{{ user['nim'] }}" name="uas_{{ user['nim'] }}" {% if user['uas'] %} checked {% endif %}></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="card-body">
                <button type="submit" class="btn btn-success me-1 mb-1" id="saveabsn">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script></script>
{% endblock %}