{% extends 'nav.html' %}

{% block tittle %}
Manajemen Kelas
{% endblock %}

{% block content %}
<div class="page-heading">
    <h1>Edit Kelas</h1>
</div>

<div class="card">
    <div class="card-header">
        <a href="/manajemen-kelas" class="btn btn-primary text-white">Kembali</a>

    </div>
    <div class="card-body">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-4">
                        <label for="edit-kdm">KDM</label>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group has-icon-left">
                            <div class="position-relative">
                                <input type="text" class="form-control" placeholder="edit KDM"
                                    id="edit-KDM" value="{{data.Kode_Matkul}}" disabled>
                                <div class="form-control-icon">
                                    <i class="fa-solid fa-user-secret"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="edit-waktu">Waktu</label>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group has-icon-left">
                            <div class="position-relative">
                                <input type="text" class="form-control" placeholder="Waktu Kelas" name="edit-waktu-matakuliah" id="edit-waktu-dosen" value="{{data.Waktu}}">
                                <div class="form-control-icon">
                                    <i class="bi bi-person"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="edit-ruang">Ruang</label>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group has-icon-left">
                            <div class="position-relative">
                                <input type="text" class="form-control" placeholder="Ruang kelas" name="edit-ruang-matakuliah" id="edit-ruang-dosen" value="{{data.Ruang}}">
                                <div class="form-control-icon">
                                    <i class="bi bi-person"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="edit-dosen">Nama Dosen</label>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group has-icon-left">
                            <div class="position-relative">
                                <input type="text" class="form-control" placeholder="edit dosen"
                                    id="edit-KDM" value="{{user_info.full_name}}" disabled>
                                <div class="form-control-icon">
                                    <i class="fa-solid fa-user-secret"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-end">
                        <button id="submitsave" class="btn btn-success me-1 mb-1">Submit</button>
                    </div>
                </div>
            </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#submitsave").click(function () {
            let ewaktu = $("#edit-waktu-dosen").val();
            let eruang = $("#edit-ruang-dosen").val();
            if (ewaktu == "" || eruang == "") {
                swal.fire({
                    title: "Incomplete data",
                    text: "Please fill in the data correctly.",
                    icon: "warning",
                });
            } else {
                Swal.fire({
                    title: "Are you sure?",
                    text: "Your data will be updated!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, update it!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            type: "POST",
                            url: "/editkelas/{{data._id }}",
                            data: {
                                ewaktu: ewaktu,
                                eruang: eruang,
                            },
                            success: function (response) {
                                if (response.result == 'success') {
                                    Swal.fire("Update!", "Your file has been updated!", "success").then((result) => { window.location.replace("/manajemen-kelas"); });
                                }
                            },
                        });
                    }
                })
            }
        });
    });
</script>

{% endblock %}