{% extends 'navdosen.html' %}

{% block tittle %}
Laporan Orangtua
{% endblock %}

{% block content %}
<div class="page-heading">
    <h1>Laporan Orangtua</h1>
</div>
<section class="section">
    <div class="row" id="table-bordered">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card text-center">
                        <div class="card-header">
                          absensi mahasiswa
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">Laporan Absensi mahasiswa untuk orangtua mahasiswa tersebut</h5>
                          <p class="card-text">tolong di perbaiki absensi kehadirannya</p>
                        </div>
                        <div class="card-footer text-body-secondary">
                          2 days ago
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
</script>

{% endblock %}