{% extends 'nav.html' %}

{% block tittle %}
Manajemen Kelas
{% endblock %}

{% block content %}
<div class="page-heading">
    <h1>Manajemen Kelas</h1>
</div>
<section class="section">
    <div class="row" id="table-bordered">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#tambahkelas">
                        Tambah
                    </button>
                </div>

                <div class="card-content">
                    <div class="card-body">
                        <p class="card-text">Harap tambahkan informasi mengenai data <code> Kelas </code> yang tersedia.
                        </p>
                    </div>
                    <div class="table-responsive mx-4 mb-4">
                        <table class="table table-bordered table-striped table-dark mb-0">
                            <thead>
                                <tr>
                                    <th>KDM</th>
                                    <th>Mata Kuliah</th>
                                    <th>Hari</th>
                                    <th>Waktu</th>
                                    <th>Ruang</th>
                                    <th>Nama Dosen</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for kelas in kelas_list %}
                                <tr>
                                    <td>{{kelas['Kode_Matkul']}}</td>
                                    <td><a href="/tambah-kelas-mahasiswa/{{kelas._id}}">{{kelas['Nama_Matkul']}}</a>
                                    </td>
                                    <td>{{kelas['Hari']}}</td>
                                    <td>{{kelas['Waktu']}}</td>
                                    <td>{{kelas['Ruang']}}</td>
                                    <td>{{user_info['full_name']}}</td>
                                    <td>
                                        <a href="/editkelas/{{ kelas._id }}" class="btn icon btn-info"><i
                                                class="fa-solid fa-pen-to-square text-white title"="edit"></i></a>
                                        <button onclick="deletekelasdosen('{{kelas["_id"]}}')"
                                            class="btn icon btn-danger"><i class="fa-solid fa-trash"
                                                title="Hapus"></i></button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="tambahkelas" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="tambahkelasLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="tambahdosenLabel">Tambah kelas</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="KDM">Mata Kuliah</label>
                                <select class="form-select" id="select-matkull" name="select-matkull"
                                    aria-label="Default select example">
                                    <option value="">Pilih Mata Kuliah</option>
                                    {% for mk in matakuliah_list %}
                                    <option value="{{ mk.Kode_Matkul }}" data-nama="{{ mk.Nama_Matkul }}">{{ mk.Nama_Matkul }}</option>
                                    {% endfor %}
                                </select>
                                <p id="help-matkul1-input" class="mt-2"></p>
                            </div>
                        </div>
                        <div class="col-12 mb-2">
                            <div class="form-group">
                                <label for="ftime">Waktu</label>
                                <input type="text" id="ftime" class="form-control" name="ftime"
                                    placeholder="example 1/2/3" required>
                            </div>
                            <p id="help-ftime-input" class="mt-2"></p>
                        </div>
                        <div class="col-12 mb-2">
                            <div class="form-group">
                                <label for="fruang">Ruang</label>
                                <input type="text" id="fruang" class="form-control" name="fruang" placeholder="ruang"
                                    required>
                            </div>
                            <p id="help-fruang-input" class="mt-2"></p>
                        </div>
                        <div class="col-12 mb-2">
                            <div class="form-group">
                                <label for="fruang">Hari</label>
                                <select class="form-select" id="day">
                                    <option selected>Pilih Hari</option>
                                    <option value="senin">Senin</option>
                                    <option value="selasa">Selasa</option>
                                    <option value="rabu">Rabu</option>
                                    <option value="kamis">Kamis</option>
                                    <option value="jumat">Jumat</option>
                                </select>
                            </div>
                            <p id="help-hari-input" class="mt-2"></p>
                        </div>
                        <div class="col-12 mb-2">
                            <div class="form-group">
                                <label for="fruang">Dosen</label>
                                <input type="text" id="fnmedosen1" class="form-control" name="fnmedosen1"
                                    placeholder="Dosen" value="{{user_info.full_name}}" required disabled>
                                <input type="hidden" id="iddosen1" class="form-control" name="iddosen1"
                                    value="{{user_info.username}}" required disabled>
                            </div>
                            <p id="help-fruang-input" class="mt-2"></p>
                        </div>
                        <div class="col-12 d-flex justify-content-end mt-4">
                            <button type="submit" class="btn btn-success me-1 mb-1" id="savekelas">Submit</button>
                            <button type="button" class="btn btn-light-secondary me-1 mb-1"
                                data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function deletekelasdosen(id) {
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: "/deletekelas/" + id,
                    success: function (response) {
                        if (response.result == "success") {
                            Swal.fire({
                                title: "Deleted!",
                                text: "Your file has been deleted.",
                                icon: "success"
                            }).then((result) => {
                                window.location.reload();
                            });
                        }
                    }
                });
            }
        });
    };

    $(document).ready(function () {
        $('#select-matkul1').val('');
        $('#ftime').val('');
        $('#fruang').val('');
        
        $('#savekelas').click(function () {
            let matkul = $("#select-matkull").val();
            let ftime = $("#ftime").val();
            let fruang = $("#fruang").val();
            let dosen = $("#iddosen1").val();
            let day = $('#day').val();
            var selectedNama = $('option:selected', "#select-matkull").data('nama');


            if (matkul === '') {
                $("#help-matkul1-input")
                    .text("Please enter your matkul")
                    .addClass("text-danger");
                return;
            }
            if (ftime === '') {
                $("#help-ftime-input")
                    .text("Please enter your time")
                    .addClass("text-danger");
                return;
            }
            if (fruang === '') {
                $("#help-fname-input")
                    .text("Please enter your place")
                    .addClass("text-danger");
                return;
            }
            if (day === '') {
                $("#help-hari-input")
                    .text("Please enter your day")
                    .addClass("text-danger");
                return;
            }

            Swal.fire({
                title: "Are you sure?",
                text: "this data will be added!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, add it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "POST",
                        url: "/manajemen-kelas/savekelas",
                        data: {
                            matkul: matkul,
                            ftime: ftime,
                            fruang: fruang,
                            dosen: dosen,
                            day: day,
                            selectedNama, selectedNama,
                        },
                        success: function (response) {
                            if (response.result == 'success'){
                                Swal.fire("class data has been successfully added", "", "success").then((result) => { window.location.replace("/manajemen-kelas"); });
                            }
                        }
                    });
                }
            });
        });

    });
</script>

{% endblock %}