{% extends 'nav.html' %}

{% block tittle %}
Manajemen Absensi
{% endblock %}

{% block content %}
<div class="page-heading">
    <h1>Manajemen Absensi</h1>
</div>
<section class="section">
    <div class="row" id="table-bordered">
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <p class="card-text">Harap tambahkan informasi mengenai data <code> Kelas </code> yang tersedia.
                        </p>
                    </div>
                    <div class="table-responsive mx-4 mb-4">
                        <table class="table table-bordered table-striped table-dark mb-0">
                            <thead>
                                <tr>
                                    <th>KDM</th>
                                    <th>Mata Kuliah</th>
                                    <th>Waktu</th>
                                    <th>Ruang</th>
                                    <th>Nama Dosen</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for kelas in kelas_list %}
                                <tr>
                                    <td>{{kelas['Kode_Matkul']}}</td>
                                    <td><a href="/absensi-mahasiswa/{{kelas._id}}">{{kelas['Nama_Matkul']}}</a></td>
                                    <td>{{kelas['Waktu']}}</td>
                                    <td>{{kelas['Ruang']}}</td>
                                    <td>{{user_info['full_name']}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
</script>

{% endblock %}