{% extends 'nav.html' %}

{% block tittle %}
Account
{% endblock %}

{% block content %}

<div class="page-heading">
    <h1>Acoount Profile</h1>
</div>

<div class="page-content"> 
    <section id="basic-horizontal-layouts">
        <div class="row match-height">
            <div class="col-md-4 col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Profile Picture</h4>
                    </div>
                    <div class="card-body d-flex justify-content-center">
                        <img src="../static/myassets/profile/2.jpg" class="rounded-circle" alt="profile" style="width: 200px;">
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Profile Information</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <form class="form form-horizontal">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="first-name-horizontal">NIM</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <input type="text" class="form-control" name="nim"
                                                 disabled>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="nama-horizontal">nama</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <input type="text" id="email-horizontal" class="form-control" name="name-id"
                                                placeholder="name">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="contact-info-horizontal">Tanggal Lahir</label>
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <input type="date" class="form-control mb-3 flatpickr-no-config" placeholder="Select date..">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="password-horizontal">Old Password</label>
                                        </div>
                                        <div class="col-md-8 form-group mb-4">
                                            <input type="password" id="password-horizontal" class="form-control" name="password"
                                                placeholder="Password">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="password-horizontal">New Password</label>
                                        </div>
                                        <div class="col-md-8 form-group mb-4">
                                            <input type="password" id="password-horizontal" class="form-control" name="password"
                                                placeholder="Password">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="password-horizontal">Confirm Password</label>
                                        </div>
                                        <div class="col-md-8 form-group mb-4">
                                            <input type="password" id="password-horizontal" class="form-control" name="password"
                                                placeholder="Password">
                                        </div>
                                        <div class="col-md-4">
                                            <label for="password-horizontal">Change Picture</label>
                                        </div>
                                        <div class="col-md-8 form-group mb-4">
                                            <input type="file" class="form-control" id="inputGroupFile01">
                                        </div>
                                        <div class="col-sm-12 d-flex justify-content-start">
                                            <button type="submit" class="btn btn-primary me-1 mb-1">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>

{% endblock %}